<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="mt-5">Pokédex</h1>
        <form method="POST" class="mb-3">
            <input type="text" name="search" placeholder="ID ou Nome do Pokémon" required>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        {% if pokemon %}
            <div class="pokemon-card">
                <h2>{{ pokemon['name'] | title }} (ID: {{ pokemon['id'] }})</h2>
                <img src="{{ pokemon['sprites']['front_default'] }}" alt="{{ pokemon['name'] }}" class="img-fluid">
                <div class="mt-3">
                    <a href="{{ url_for('pokedex', id=pokemon['id'] - 1) }}" class="btn btn-secondary {% if pokemon['id'] == 1 %}disabled{% endif %}">Anterior</a>
                    <a href="{{ url_for('pokedex', id=pokemon['id'] + 1) }}" class="btn btn-secondary">Próximo</a>
                </div>
        {% else %}
            <p>Nenhum Pokémon encontrado.</p>
        {% endif %}
        <a href="/dashboard" class="btn btn-secondary mt-3">Voltar para a Página Principal</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>